attrs==26.1.0
autocommand==2.2.2
btrfsutil==7.0
cffi==2.0.0
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.4.1
filelock==3.29.0
fonttools==4.63.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
kiwisolver==1.5.0
libevdev==0.13.1
libinput_gestures_qt==0.4
lit==22.1.6.dev0
Markdown==3.10.2
matplotlib==3.10.9
more-itertools==11.1.0
nftables==0.1
numpy==2.4.6
OpenTimelineIO==0.18.1
packaging==26.2
pillow==12.2.0
pkg_resources==81.0.0
platformdirs==4.10.0
ply==3.11
pyaaf2==1.7.1
pybind11==3.0.4
pycairo==1.29.0
pycparser==3.0
PyGObject==3.56.3
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip==12.18.0
PyQt6==6.11.0
PyQt6_sip==13.11.1
pyserial==3.5
PySide6==6.11.1
python-dateutil==2.9.0
python-discovery==1.4.0
pyudev==0.24.4
PyYAML==6.0.3
QTermWidget==2.4.0
Reflector==2023.6.28.0.36.1
setuptools==82.0.1
shiboken6==6.11.1
shiboken6-generator==6.11.1
six==1.17.0
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
typing_extensions==4.15.0
VapourSynth==76
vici==6.0.6
virtualenv==21.4.2
wheel==0.47.0
